.logo-image {
    width: 300px;
    height: 150px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .login {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
  
  .login-button {
    background-color: #3d56f0;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dropdown-login {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 200px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Add box-sizing property */
  }
  
  .dropdown-login input,
  .dropdown-login button {
    margin-bottom: 10px;
    box-sizing: border-box; /* Add box-sizing property */
  }
  
  .dropdown-login input[type="text"],
  .dropdown-login input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .dropdown-login button {
    background-color: #3d56f0;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dropdown-login button:hover {
    background-color: #3347d8;
  }
  
  .dropdown-login button:focus {
    outline: none;
  }
  