/* File: /src/pages/Profile/Profile.css */
.profile-heading {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
  .profile {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .username {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .email {
    font-size: 18px;
    color: #777777;
    margin-bottom: 20px;
  }
  
  .edit-profile-link {
    text-decoration: none;
    color: #3d56f0;
    font-size: 16px;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    background-color: #3d56f0;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .logout-button {
    background-color: #ff5f5f;
  }
  
  .logout-button:hover {
    background-color: #e53e3e;
  }
  