.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
}

.profile {
  text-align: center;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
}

.sidebar-links {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  display: grid;
  place-items: center;
}

.sidebar-links li {
  margin-bottom: 10px;
}

.sidebar-links li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3d56f0;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.sidebar-links li a:hover {
  background-color: #3448d8;
}

.logout-button,
.hoot-button {
  background-color: #3d56f0;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;  
}

.logout-button {
  margin-top: auto;
  margin-bottom: 10px;
}

.logout-button:hover,
.hoot-button:hover {
  background-color: #3448d8;
}

.blue-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d4e1f7;
  padding: 20px;
  margin-top: 20px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.hoot-form-container {
  width: 100%;
  max-width: 400px;
}

.hoot-button {
  margin-top: 20px;
}

.hoot-form-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}
